# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=hr_system
DB_USER=hr_user
DB_PASSWORD=hr_password
DB_HOST=db
DB_PORT=5432

# Storage Configuration
STORAGE_PROVIDER=local  # Options: local, s3, oci, gcs, azure

# Storage Classes (change these to switch providers)
DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage # For local storage
# Uncomment the following lines to use S3 storage
# DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage

# AWS S3 Settings (when DEFAULT_FILE_STORAGE is set to S3Boto3Storage)
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1
AWS_S3_CUSTOM_DOMAIN=your-bucket-name.s3.amazonaws.com

# Email Settings
# Uncomment the following lines to use AWS SES for email sending
# EMAIL_BACKEND=django_ses.SESBackend
# AWS SES Settings (when EMAIL_BACKEND is set to django_ses.SESBackend)
AWS_SES_ACCESS_KEY_ID=your-aws-ses-access-key
AWS_SES_SECRET_ACCESS_KEY=your-aws-ses-secret-key
AWS_SES_REGION_NAME=eu-west-1
AWS_SES_REGION_ENDPOINT=email.eu-west-1.amazonaws.com

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend  # For development, logs emails to console



# Logging
LOG_LEVEL=INFO


# --- Test environment variables ---
# Used by compose/docker-compose.test.yml
TEST_DB_HOST=test_db
TEST_DB_NAME=hr_system_test
TEST_DB_USER=hr_user
TEST_DB_PASSWORD=hr_password
TEST_DB_PORT=5432
TEST_DEBUG=True
TEST_ALLOWED_HOSTS=localhost,127.0.0.1
TEST_DJANGO_SETTINGS_MODULE=config.test_settings
TEST_DJANGO_DISABLE_MIGRATIONS=1
# Celery Configuration
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
